{% extends "slack_provisioning/base.html" %}

{% load static %}

{% block content %}
<div class="page-header">
</div>
<div>
    {% if errors %}
        <h1>We encountered an error.</h1>
        <p class="lead">
            Unfortunately there was an error adding you to this Slack workspace!<br>
            Please contact [your support contact] for additional support.
        </p>
    {% else %}
        <h1>You have successfully joined this Slack Workspace!</h1>
        <p class="lead">
            You can <a href="https://slack.com/download" target="_new">get the Slack App for your computer or mobile device here</a>, or you can use Slack right in your browser.
        </p>
        <p>
            <a class="btn btn-success btn-large" href="https://{{ slack_workspace.team_domain }}.slack.com/ssb/redirect" target="_new">Open in the Slack App <i class="fa fa-external-link"></i></a>
            <a class="btn btn-primary btn-large" href="https://{{ slack_workspace.team_domain }}.slack.com" target="_new">Open in browser  <i class="fa fa-external-link"></i></a>
        </p>
    {% endif %}
</div>
{% endblock content %}
